@model long

@{
    ViewBag.Title = Localizer["Result"];
}

<h2>@Localizer["Congratulation!"]</h2>
@*<p><a href="~/user/orders/@Model">@Localizer["Your order"]</a> @Localizer["has been received. Thank you"]</p>*@
<p>@Localizer["Your order"] @Localizer["has been received. Thank you"]</p>

